@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Jura';
  src: url('..fonts/Jura-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Jura';
	src: url('../fonts/Jura-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Jura';
	src: url('../fonts/Jura-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}

body {
    font-family: Jura, sans-serif;
    background-color: #f6f6f6;
    padding: 0;
    margin: 0;
    overflow-x: none;    
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* HEADER STYLES*/

.header {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    align-items: center;
    padding: 16px 72px;
}

.logo {
    width: 156px;
    height: 36px;
    display: inline-block;
}

.header__navigation {
    text-decoration: none;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;  
    align-items: center;
    white-space: nowrap;
    gap: 48px;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #000;
}

.header__button {
    font-weight: 700;
    color: #474747;
    background-color: #ffffff;
    padding: 10px 16px;
    border-radius: 32px;
    border: 1px solid #2E3133;
    cursor: pointer;
    text-decoration: none;
}

.header__button a {
    text-decoration: none;
}

/* MAIN STYLES */

.hero__title {
    font-size: 5rem;
    line-height: 78px;
    font-weight: 700;
    padding: 0 72px 0 72px;
    margin: 96px 0 72px 0;
    color: #474747;
}

.hero__title-phrase {
    color: #FFAB5D;
}

.hero__content {
    display: flex;
    flex-direction: row;
    margin-bottom: 96px;
}

.hero__content__image-hero-bg {
    width: 33.33%;
    background-image: url("/images/rectangle-3.png")
}

.hero__content__black-block {
    background: #474747;
    width: 33.33%;
    text-align: left;
    color: #ffffff;
    padding: 32px 24px;
}

.hero__content__lightning-icon {
    padding-bottom: 72px;
}

.hero__content__black-block__text p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 24px;
    margin: 0;
}

.hero__content__orange-block {
    background: #FFAB5D;
    width: 33.33%;
    text-align: left;
    color: #ffffff;
}

.hero__content__orange-block__active-element {
    text-align: start;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 32px 0 209px 148px;
}

.hero__content__orange-block__active-element a{
    display: inline-flex;
    transition: transform 0.3s ease;
    transform-origin: center;
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    gap: 12px;
}

.hero__content__orange-block-active_element a:hover {
    transform: scale(1.05);
}

.about {
    text-align: center;
}

.about p {
    color: #E97306;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin:0;
}